@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

.body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto+Slab', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1600px;
    margin: 0 auto;
}
header{
    background-image: url(img/bcgrheader.img.jpg);
padding:0px 0 260px 0px;
    display:block;
}
.logo{
    margin-left:229px;
    margin-top:40px;
}
.mainmenu{
    display:block;
        margin-right:200px;
    margin-top:43px;
    float:right;
}
.mainmenu li{
    list-style-type: none;
    display:inline-block;
        padding: 0 15px 0 15px;
}
.mainmenu li a{
font-family: Montserrat;
color:  #ffffff;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: left;
    text-decoration: none;
}
.greeting{
    display:block;
    width:582px;
    margin-left:508px;
    margin-top:264px;
}
header h1{
    font-family: Montserrat;
color:  #ffffff;
font-size: 48px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: center;
    text-transform: uppercase;
}
header h2{
    font-family: RobotoSlab;
color:  #ffffff;
font-size: 20px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: center;
    margin-top:30px;
}

.greeting a{
    display:block;
    width:180px;
    height:26px;
    margin: 50px auto 0 auto;
    padding: 12px 0 12px 0 ;
    text-decoration: none;
    font-family: Montserrat;
color:  #ffffff;
font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 28px;/* Приближение из-за подстановки шрифтов */
text-align: center;
    text-transform: uppercase;
    outline:1px solid;
}
.greeting a:hover{
    display:block;
    width:180px;
    height:26px;
    margin: 50px auto 0 auto;
    padding: 12px 0 12px 0 ;
    text-decoration: none;
    font-family: Montserrat;
    border-radius: 2px;
background-color:  #ffffff;
    color:#c0301c;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 28px;/* Приближение из-за подстановки шрифтов */
text-align: center;
    text-transform: uppercase;
    outline:1px solid;
}
.services{
    background-color:  #ffffff;
    display:block;
}
.services h2{
    font-family: Montserrat;
color:  #555555;
font-size: 20px solid;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: center;
    text-transform: uppercase;
    padding-top:99px;
}
.flex-container {
  display: flex;
  flex-direction: row;
      justify-content: center;
  align-items: center;
    margin:70px 215px 100px 215px;
}
.flex-container div{
    margin:0 22px;
      text-align: center;
}
.flex-container div h3{
    font-family: Montserrat;
color:  #555555;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: center;
    text-transform: uppercase;
    margin-top:29px;
}
.flex-container div p{
    font-family: RobotoSlab;
color:  #555555;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}
.services .flex-container div p{
    margin-top:24px;
}
.line img{
    display:block;
    margin:29px auto;
    border:#555555 1px solid;
}
.services p{
    font-family: RobotoSlab;
color:  #555555;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
}
.about{
    background-color: #f8f8f8;
}
.about h2{
    font-family: Montserrat;
color:  #555555;
font-size: 20px solid;
font-weight: 400;
line-height: 24px;
text-align: center;
    text-transform: uppercase;
    padding-top:99px;
}
.about p{
    font-family: RobotoSlab;
color:  #555555;
font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}
.about .flex-container div p{
    text-align:left;
    font-family: RobotoSlab;
color:  #555555;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: left;
}
.about .flex-container div{
    margin: 0 16px;
}
.about .flex-container figure{   
        padding-bottom:99px;
}
.flex-container figure h3{
    font-family: Montserrat;
color:  #555555;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}
.flex-container figure p{
  font-family: RobotoSlab;
color:  #555555;
font-size: 13px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.works h2{
    font-family: Montserrat;
color:  #555555;
font-size: 20px solid;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: center;
    text-transform: uppercase;
}
.photo{
    background-color: grey;
    width:263px;
    height:250px;
}
figure img:hover{
    opacity:0.5;
}
.menuworks{
    display:block;
text-align:center;
    padding-bottom:55px;
}
.menuworks li{
        display:inline-block;
    list-style-type: none;
    display:inline-block;
        padding: 0 15px 0 15px;  
}
.menuworks li a{
font-family: RobotoSlab;
color:  #555555;
font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: center;
      text-decoration:none;
}
.menuworks li a:hover{
font-family: RobotoSlab;
color:  #c0301c;
font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: center;
      text-decoration:none;
}
.gallery{
    display:block;
    margin-left:215px;
    margin-bottom:85px;
}
.gallery .galleryitem{
        display:inline-block;
        width:360px;
    height:320px;
    margin:15px;
         background-color:  red;
}
.galleryitem img:hover{

    opacity:0.8;
}
.getintouch{
   height:369px;
    display:block;
    background-image: url(img/getintouchbcgr.img.jpg);
    margin-bottom:95px;
}
.getintouch h2{
margin:99px 0 60px 573px;
    display:block;
    float:left;
    width:454px;
    font-family: RobotoSlab;
color:  #ffffff;
font-size: 30px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 40px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}
.getintouch a{
    display:block;
    float:left;
        width:180px;
    height:50px;
    text-decoration: none;
     outline:1px solid;
    font-family: RobotoSlab;
color:  #ffffff;
font-size: 18px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 44px;/* Приближение из-за подстановки шрифтов */
text-align: center;
    margin-left:710px;  
}
.getintouch a:hover{
    display:block;
    width:180px;
    height:50px;
    outline:1px solid;
       text-decoration: none;
    font-family: RobotoSlab;
background-color:  #ffffff;
    color:#c0301c;
 font-size: 18px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 44px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}
.posts h2{
    text-transform:uppercase;
    font-family: Montserrat;
color:  #555555;
font-size: 20px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 20px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}
.posts p{
    font-family: RobotoSlab;
color:  #555555;
font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: center;
        padding-bottom:34px;
}
article{
    display:block;
    padding-bottom:350px;
    padding-top:35px;
}
article img{
    float:left;
    display:block;
    margin-left:230px;
}
.text{
    display:block;
    width:637px;
    float:left;
    margin-right:232px;
    margin-left:41px;
}
time{
    display:block;
    float:left;
    width:76px;
    height:56px;
    outline:1px solid;
    margin-right:28px;
font-family: Montserrat;
color:  #777777;
font-size: 24px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
line-height: 20px;/* Приближение из-за подстановки шрифтов */
text-align: center;
    padding-top:20px;
}
.text h3{
    font-family: Montserrat;
color:  #c0301c;
font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-transform: uppercase;
    padding-bottom:10px;
    padding-top:10px;
}
.text h4{
    font-family: RobotoSlab;
color:  #777777;
font-size: 13px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
    margin-bottom:39px;
}
.text p{
    font-family: RobotoSlab;
color:  #555555;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: left;
}
.text a{
    font-family: RobotoSlab;
color:  #c0301c;
font-size: 13px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: left;
    text-decoration:none;
    text-transform: uppercase;
}
hr{
    width:1197px;
    margin-left:230px;
}
.partners{
    margin-top:60px;
background-color:  #f8f8f8;
}
.partnerslogos{
    margin-left:300px;
    display:block;
    padding-top:109px;
    padding-bottom:69px;
}
.partnerslogos a{
    padding:40px;
    text-align:center;
}
.partners h3{
    font-family: RobotoSlab;
color:  #555555;
font-size: 18px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 30px;/* Приближение из-за подстановки шрифтов */
text-align: center;
    display:block;
    width:763px;
    margin:auto;
}
.partners h2{
    font-family: RobotoSlab;
color:  #555555;
font-size: 20px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 30px;/* Приближение из-за подстановки шрифтов */
text-align: center;
    display:block;
    margin:auto;
}
.slider{
    display:block;
    text-align:center;
    margin-top:40px;
    padding-bottom:100px;
}
.contact{
    display:block;
    padding-top:99px;
}
.contact h2{
    font-family: Montserrat;
color:  #555555;
font-size: 20px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: center;
    text-transform:uppercase;
}
.contact p{
    font-family: RobotoSlab;
color:  #555555;
font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: center;
    padding-bottom:37px;
}
.contact{
    display:block;
    margin-bottom:400px;
}
.sideinfo{
    display:block;
    float:left;
}
.address{
    display:block;
    width:180px;
    margin-left:230px;
    margin-top:33px;
}
.address img{
    display:block;
    float:left;
}
.address h3{
    display:block;
    float:left;
    margin-left:14px;
    text-transform:uppercase;
    font-family: Montserrat;
color:  #555555;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 30px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}
.address p{
    display:block;
    float:left;
    font-family: RobotoSlab;
color:  #555555;
font-size: 12px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 20px;/* Приближение из-за подстановки шрифтов */
text-align: left;
        margin-left:25px;
}
form{
    display:block;
    float:left;
    width:730px;
    padding-bottom:101px;
    margin-left:163px;
}
.yourname{
    width:340px;
    height:44px;
    margin:30px 10px 10px 0px;
    text-decoration: uppercase;
    padding-left:10px;
        text-transform:uppercase;
}
.mail{
    width:340px;
    height:44px;
        margin:30px 0px 10px 5px;
        padding-left:10px;
        text-transform:uppercase;
}
.subject{
    width:340px;
    height:44px;
    margin:10px 10px 20px 0px;
        padding-left:10px;
        text-transform:uppercase;
}
.company{
    width:340px;
    height:44px;
     margin: 0px 0px 20px 5px;
        padding-left:10px;
        text-transform:uppercase;
}
.message{
    width:713px;
    height:14px;
    margin:0 0 20px 0;
        padding-left:10px;
    padding-bottom: 80px;
    padding-top: 14px;
    text-transform:uppercase;
}
.sub{
    width:170px;
    height:44px;
    background-color:  #ffffff;
    font-family: RobotoSlab;
color:  #555555;
font-size: 12px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 20px;/* Приближение из-за подстановки шрифтов */
text-align: center;
    text-transform:uppercase;
}
.bottom{
    background-color:  #c0301c;
padding-top: 100px;
}
.bottom img{
    display:inline-block;
    padding:5px;
}
.socmedia{
    display:block;
    height:40px;
    margin-left:702px;
}
.bottom hr{
    width:50px;
    margin-left:775px;
    margin-top:20px;
}
.bottom p{
    margin-top:29px;
    padding-bottom:100px;
    margin-left:665px;
    font-family: RobotoSlab;
color:  #ffffff;
font-size: 12px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 20px;/* Приближение из-за подстановки шрифтов */
text-align: left;
    text-transform:uppercase;
}